@charset "utf-8";

/* ================================ */
/* 格式化样式标签、基础类型样式*/
/* ================================ */
/*多分辨率设定rem设定*/
html {
  font-size: 20px;
  color: #000;
  -webkit-appearance: none;
}

/*iphone4*/
@media only screen and (min-width: 319px) {
  html {
    font-size: 20px !important;
    -webkit-appearance: none;
  }
}

/*Note3*/
@media only screen and (min-width: 359px) {
  html {
    font-size: 22px !important;
    -webkit-appearance: none;
  }
}

/*iPhone6*/
@media only screen and (min-width: 374px) {
  html {
    font-size: 23px !important;
    -webkit-appearance: none;
  }
}

/*iPhone6 plus*/
@media only screen and (min-width: 413px) {
  html {
    font-size: 25px !important;
    -webkit-appearance: none;
  }
}

/*big Resolution*/
@media only screen and (min-width: 640px) {
  html {
    font-size: 25px !important;
    -webkit-appearance: none;
  }
}


* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  color: #666;
}

:focus {
  outline: 0
}

i,
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

ol,
ul {
  list-style: none
}

li {
  list-style: none
}

caption,
th {
  text-align: left
}

.green {
  color: #4BA50F;
}

.red {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

img {
  vertical-align: top;
  border: none;
}

/* 
input,
textarea {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-appearance: none;
} */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  -webkit-user-select: text !important
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right !important;
  display: inline;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.clear {
  clear: both;
}

.fad {
  color: #FA4D50
}

.text-dec {
  text-decoration: line-through;
}

select,
.select {
  color: #777;
  background-color: #FFF;
  height: 30px;
  vertical-align: middle;
  *display: inline;
  padding: 0 4px;
  border: solid 1px #E6E9EE;
  *zoom: 1;
}

select option,
.select option {
  line-height: 20px;
  display: block;
  height: 20px;
  padding: 4px;
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.c333 {
  color: #333
}

.c666 {
  color: #676b70 !important;
}

.c888 {
  color: #888;
}

.c999 {
  color: #93a0ae !important;
}

.ce3 {
  opacity: 0.5;
}

.bce3 {
  opacity: 0.5;
  background-color: #ccc !important;
}

.c000 {
  color: #fff !important;
}

.c35 {
  color: #35383D !important;
}

.cfff {
  color: #000 !important;
}

.bcfff {
  background-color: #fff !important;
}

.bcccc {
  background-color: #CCCCCC
}

.bc000 {
  background-color: #000
}

.fs {
  font-size: 0.5217rem !important;
}

.fs1 {
  font-size: 1rem !important;
}

.b3c {
  border: 3px solid white
}

.br {
  border-radius: 50%
}

.weui-col-47 {
  width: 47%;
}

.weui-col-53 {
  width: 53%;
}

.dis-i {
  display: inline-block
}

/*clear float*/
.clearfix {
  zoom: 1
}

.clearfix:after {
  display: block;
  clear: both;
  content: '\20'
}

.posr {
  position: relative !important;
}

.posa {
  position: absolute;
  z-index: auto;
  bottom: 0
}

.posf {
  position: fixed;
}

.w100 {
  width: 100%;
}

.w96 {
  width: 96%;
  margin: 0 auto;
}

.h_100 {
  height: 100px;
}

.m0 {
  margin: 0rem !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.m10 {
  padding: 1rem
}

.mt20 {
  margin-top: 2rem !important;
}

.mt30 {
  margin-top: 3rem !important;
}

.mt40 {
  margin-top: 4rem !important;
}

.mr2 {
  margin-right: 0.2rem;
}

.mr1-5 {
  margin-right: 1.5rem;
}

.mr10 {
  margin-right: 10px;
}

.mr1 {
  margin-right: 1rem;
}

.mr7 {
  margin-right: 0.7rem;
}

.mb5 {
  margin-bottom: 0.5rem !important;
}

.mb20 {
  margin-bottom: 2rem !important;
}

.mb-20 {
  margin-bottom: -2rem !important;
}

.mb25 {
  margin-bottom: 2.5rem !important;
}

.p10 {
  padding: 10px
}

.p15 {
  padding: 15px
}

.p2-10 {
  padding: 2px 10px 10px 10px !important;
}

.p10-2 {
  padding: 10px 10px 2px 10px !important;
}

.p15 {
  padding: 15px
}

.pt0 {
  padding-top: 0rem !important;
}

.pt10 {
  padding-top: 10px
}

.pr10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pl5 {
  padding-left: 0.5rem !important;
}

.pl1 {
  padding-left: 1rem !important;
}

.pb0 {
  padding-bottom: 0rem !important;
}

.pb5 {
  padding-bottom: 0.5rem;
}

.pb10 {
  padding-bottom: 1rem !important;
}

.pb23 {
  padding-bottom: 2.25rem;
}

.pb25 {
  padding-bottom: 2.5rem !important;
}

.bgc-t {
  background-color: transparent !important;
}

.fwer {
  font-weight: 600
}

.disib {
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2),
not all {
  .line-top {
    border: none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #e5e5e5), color-stop(50%, transparent));
    background-image: -webkit-linear-gradient(top, #e5e5e5 0, #e5e5e5 50%, transparent 50%);
    background-image: linear-gradient(to bottom, #e5e5e5 0, #e5e5e5 50%, transparent 50%);
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.line-top {
  border-top: 1px solid #dadada !important;
}

@media (-webkit-min-device-pixel-ratio: 2),
not all {
  .line-bottom {
    border-bottom: none !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, transparent), color-stop(50%, #e5e5e5));
    background-image: -webkit-linear-gradient(top, transparent 50%, #e5e5e5 50%, #e5e5e5 100%);
    background-image: linear-gradient(to bottom, transparent 50%, #e5e5e5 50%, #e5e5e5 100%);
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.line-bottom {
  border-bottom: 1px solid #f0f0f0 !important;
}

.line-gradient {
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(30%, #000), color-stop(70%, #000), color-stop(100%, transparent));
  -webkit-mask: -webkit-linear-gradient(top, transparent, #000 30%, #000 70%, transparent 100%);
  width: 1px;
}

@media (-webkit-min-device-pixel-ratio: 2),
not all {
  .line-gradient {
    border: none !important;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #dadada), color-stop(100%, #dadada));
    background-image: -webkit-linear-gradient(left, transparent 50%, #dadada 50%, #dadada 100%);
    background-image: linear-gradient(to right, transparent 50%, #dadada 50%, #dadada 100%);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: right;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: ghostwhite;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.6;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}


/*顶部通用css*/
.menu-fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 999;
}

.menu-fixed.taobao_shop {
  min-height: 217px;
  background: url(../images/taobao-bg.png) no-repeat 0px 0px;
  background-size: contain;
  position: initial;
}

.menu-fixed.tianmao_shop {
  min-height: 217px;
  background: url(../images/tianmao.png) no-repeat 0px 0px;
  background-size: contain;
  position: initial;
}

header {
  background-color: #FBCA01;
  width: 100%;
  height: 2.35rem;
  z-index: 898;
}

a,
div:-webkit-any-link:active {
  -webkit-tap-highlight-color: transparent
}

a,
img,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a,
div:-webkit-any-link {
  -webkit-tap-highlight-color: transparent
}

a,
div {
  -webkit-tap-highlight-color: transparent
}

::selection {
  background: none;
}

::-moz-selection {
  background: none;
}

::-webkit-selection {
  background: none;
}

:focus {
  outline: none;
}

.weui_cells_access .weui_cell:not(.no_access):active {
  background-color: rgba(0, 0, 0, 0);
}

.weui_panel_access .weui_panel_ft:active {
  background-color: rgba(0, 0, 0, 0);
}

a.weui_media_box:active {
  background-color: rgba(0, 0, 0, 0);
}

input::-webkit-input-placeholder {
  color: #C0C0C0;
}

textarea::-webkit-input-placeholder {
  color: #C0C0C0;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #C0C0C0;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #C0C0C0;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #C0C0C0;
}

.general-color {
  color: #FF5500 !important;
}

.general-color-blue {
  color: #06d !important;
}

.general-bgc {
  background-color: #FF5500 !important;
}

.general-border {
  border: 1px solid #FF5500 !important;
}

.general-border-blue {
  border: 1px solid #06d;
}

.gray-bgc {
  background-color: #CCCCCC;
}

.gray-border {
  border: 1px solid #CCCCCC;
}

.pt235 {
  padding-top: 2.35rem;
}

.weui_cells:after {
  border: none
}

header div {
  float: left;
}

header a {
  color: white;
}

header .fanhui {
  margin-left: 0.5rem;
  margin-top: 0.65rem;
  font-size: 0.6956rem;
  cursor: pointer;
  margin-right: 0.5rem;
  /*margin: 0.65rem 0.65rem;*/
  line-height: 1;
}

header .fanhui i,
header .gengduo i {
  color: #fff;
  font-size: 22px;
  vertical-align: middle;
  line-height: 1;
}

header div img {
  line-height: 2.35rem;
  width: 1rem;
}

header .span1 {
  display: block;
  width: 12rem;
  line-height: 2.3rem;
  margin: auto;
  text-align: center;
  font-size: 0.6956rem;
}

header .gengduo {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.65rem;
  font-size: 0.6956rem;
  color: gray;
  margin: 0 0 1rem 1rem;
  line-height: 1;
}

body,
.head {
  background: #F5F5F5;
}

header .gengduo button {
  border: none;
  background-color: whitesmoke;
  font-size: 0.6rem;
}

header .search {
  display: block;
  width: 86%;
  height: 1.2rem;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  position: absolute;
  border: 1.5px solid gray;
  border-radius: 1rem;
  z-index: 98;
  background-color: white;
}

.weui_search_bar {
  padding: 0px 10px;
  margin-bottom: 15px;
}

.weui_search_bar:before {
  border-top: none;
}

.weui_search_bar:after {
  border-bottom: none;
}

.weui_search_outer,
.weui_search_inner .weui_icon_clear {
  height: 1.85rem;
  line-height: 1.85rem;
}

.weui_search_inner .weui_icon_search {
  line-height: 1.85rem;
  color: #9b9b9b
}

.weui_search_ok {
  line-height: 1.85rem;
  margin-left: 10px;
  color: #fff;
}

.weui_search_outer:after,
.weui_search_outer,
.weui_search_text {
  border-radius: 50px;
}

.shop_index .swiper-container {
  width: 94%;
  border-radius: 10px;
}


.goods-search-list-nav {
  display: block;
  width: 100%;
  height: 1.95rem;
  background: rgba(255, 255, 255, 1);
  border-bottom: solid 0.05rem #EEE;
  z-index: 2;
}

.goods-search-list-nav ul {
  font-size: 0;
  display: block;
  width: 85%;
  float: left;
}

.goods-search-list-nav ul li {
  vertical-align: top;
  display: inline-block;
  width: 33%;
}

.goods-search-list-nav ul li a.current {
  color: #F53415;
}

.goods-search-list-nav ul li a {
  font-size: 0.65rem;
  color: #888;
  line-height: 1.95rem;
  text-align: center;
  display: block;
  height: 1.95rem;
}

.goods-search-list-nav ul li a .top {
  font-size: 0px;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 0.2rem;
  border-width: 0.25rem;
  border-color: transparent transparent #AAA transparent;
  border-style: solid dashed dashed dashed;
  position: absolute;
  top: 0.3rem;
}

.goods-search-list-nav ul li a .top.current {
  border-color: transparent transparent #F53415 transparent !important;
}

.goods-search-list-nav ul li a .bottom {
  font-size: 0px;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 0.2rem;
  border-width: 0.25rem;
  border-color: #AAA transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  position: absolute;
  top: 1rem;
}

.goods-search-list-nav ul li a .bottom.current {
  border-color: #F53415 transparent transparent transparent;
}

.goods-search-list-nav .browse-mode {
  display: block;
  width: 14.5%;
  float: right;
  border-left: solid 0.05rem #EEE;
}

.goods-search-list-nav .browse-mode a {
  text-align: center;
  display: block;
  height: 1.95rem;
}

.goods-search-list-nav .browse-mode .browse-list {
  background-image: url(../images/browse_list.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;
}

.goods-search-list-nav .browse-mode a span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem auto;
  opacity: 0.5;
}

.goods-search-list-nav .browse-mode .browse-grid {
  background-image: url(../images/browse_grid.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;
}

.shop_index {
  background-color: #fff !important;
}

.shop_index .weui-row {
  margin: 3%;
  text-align: center;
  display: inline-block;
}

.container {

  padding-bottom: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  /* padding-top: 50px; */
}

.container .item {
  width: calc(50% - 20px);
  margin: auto;
  min-height: 200px;
  display: inline-block;
  margin: 10px 0px 0px 12px;
  background: #fff;
  box-sizing: border-box;
}

.container-index .container {
  padding-bottom: 60px;
  background: #fff;
}

.container .item>img {
  width: 100%;
  height: 200px;
}

.container .item .infor {
  padding: 10px;
  font-size: 15px;
}

.shop_index .weui-row .weui-col-20 {
  width: 20%;
  font-size: 0.5642rem;
  color: #666;
  float: left;

  height: 40px;
}

.shop_index .weui-row .weui-col-20 img {
  width: 100%;
}

.productPrice {
  font-size: 16px;
  font-weight: bolder;
  color: #f59a41;
}

/* .container .item .infor a.desc {
    color: #323232;
    font-size: 0.6076rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
  } */

.container .item .infor .price-infor {
  margin-top: 8px;
}

.container .item .infor .price-infor .price {
  color: #f59a41;
  font-size: 0.6944rem;
}

.container .item .infor .price-infor .type {
  /* float: right; */
  height: 20px;
  width: 20px;
}

.container .item .infor .price-infor .tmall.tianmao_shop,
.shop_img.tianmao_shop {
  background: url(../images/tmall.png) no-repeat center;
  background-size: 100%;
}

.shop_img {
  height: 20px;
  width: 20px;
  position: absolute;
}

.container .item .infor .price-infor .tmall.taobao_shop,
.shop_img.taobao_shop {
  background: url(../images/taobao.png) no-repeat center;
  background-size: 100%;
}



/* .menu-fixed .search.order {
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 22px;
  }
   */
.container.product-list {
  padding-top: 0;
}

.container .item1 {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 12px 3%;
  background: #fff;
  box-sizing: border-box;
}

.container .item1>img {
  width: 3.906rem;
  height: 3.906rem;
  margin-right: 0.651rem;
}

.container .item1 .infor a.desc,
.container .item .infor a.desc {
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-decoration: none;
  text-indent: 30px;
  font-size: 0.6076rem;
}

.container .item1 .infor .price-infor .type.tmall {
  background: url(../images/tmall.png) no-repeat center;
  background-size: 100%;
}

.container .item1 .infor .price-infor .type,
.container .item .infor .price-infor .type {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0px;
  top: 1px;
}

.container .item .infor .price-infor .type {
  left: 10px;
  top: 9px;
}

.container .item1 .infor .price-infor {
  margin-top: 8px;
}

.container .item1 .infor .price-infor .price {
  color: #f59a41;
  font-size: 0.6944rem;
}

.container .item1 .infor .price-infor .price-unit,
.container .item .infor .price-infor .price-unit {
  font-size: 0.58rem;
  color: #666;
  margin-left: 6px;
}

.container .item1 .infor .coupon-infor,
.container .item .infor .coupon-infor {
  display: inline-block;
  padding: 3px 7px;
  color: #F53415;
  background-color: rgba(100, 33, 24, 0.1);
  border-radius: 3px;
}

.container .item1 .infor .price-infor .tsales {
  font-size: 0.5208rem;
  color: #666;
  float: right;
  line-height: 25px;
}

.container .item .infor .price-infor .tsales {
  font-size: 0.5208rem;
  color: #666;
  display: block;
}



/* 我的订单 */

.my-order .am-tabs-nav {
  width: 100%;
  padding: 0;
  font-size: 0.5642rem;
  margin: 0;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: unset;
}

.my-order .am-tabs-d2 .am-tabs-nav>.am-active {
  position: relative;
  background-color: #fcfcfc;
  border-bottom: 2px solid #FF5500;
}

.my-order .am-tabs-d2 .am-tabs-nav li {
  height: 50px;
  line-height: 50px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.my-order .am-tabs-d2 .am-tabs-nav>.am-active a {
  line-height: 40px;
  color: #FF5500;
}

.my-order .am-tabs-nav a {
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.my-order .am-badge {
  display: inline-block;
  min-width: 10px;
  padding: 0.25em 0.625em;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999999;
  border-radius: 0;
  border-radius: 1000px;
  position: absolute;
  ;
  top: 5px;
  right: 0px;
  background-color: #fc6240;
}

.my-order .mo_list .box {
  background: #fff;
  border-radius: 10px;
}

.my-order .am-padding-xs {
  padding: 0.5rem;
}

.my-order .am-margin-bottom-xs {
  margin-bottom: 0.5rem;
}

.my-order .mo_list .box img {
  width: 3.9rem;
  height: 3.9rem;
}

.my-order .mo_list .box .mo_list_tit {
  display: flex;
  justify-content: space-between;
}

.my-order .mo_list .box .mo_list_tit .mine {
  position: relative;
  font-size: 0.5208rem;
}



.my-order .mo_list .box .mo_list_tit .wait {
  color: #fc6240;
  font-size: 0.5208rem;
}

.my-order .mo_list .box li {
  margin: 10px 0px;
  display: flex;
}

.my-order .mo_list .box li .t_name {
  line-height: 24px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  font-size: 0.6076rem;
  color: #000;
}

.my-order .mo_list .box li .t_price {
  margin-left: auto;
  flex: 0 0 30%;
  font-size: 14px;
}



.my-order .order-lists-more {
  text-align: center;
  margin-bottom: 10px;
  color: #767676;
  display: none;
}

.my-order .mo_list .mo_total {
  font-size: 0.5642rem;
  text-align: right;
  border-top: 1px solid #eeeeee;
  padding: 10px 0px 0px 0px;
}

.my-order .mo_list .mo_total .mo_t_mun {
  color: #323232;
}

.my-order .order-no {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  display: none;
}

.my-order .order-no img {
  width: 66%
}

.my-order .am-tabs1 {
  position: fixed;
  top: 50px;
  width: 100%;
  left: 0px;
  z-index: 1000;
  background-color: #f5f5f5;
}

.my-order .am-tabs2 {
  padding-top: 100px;
  margin: 10px;
}

/* 详情 */
.product-detail {
  padding-top: 0px;
}

.container.product-detail {
  padding-bottom: 0px;
}

.container.product-detail .images {
  width: 100%;
  height: 350px;
}

.container.product-detail .images img {
  width: 100%;
  height: 350px;
}

.container.product-detail .infor {
  padding: 15px;
}

.container.product-detail .infor,
.container.product-detail .infor-price {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  line-height: 17px;
  font-size: 0.55rem;
  color: #868686;
}

.container.product-detail .infor p {
  padding-bottom: 7px;
}

.container.product-detail .options {
  height: 40px;
  background: #fff;
  margin-top: 10px;
  line-height: 42px;
  padding: 0 10px;
  font-size: 0.6076rem;
}

.container-index {
  position: relative;
}

.container.product-detail .options .icon {
  float: right;

}

.product-detail .back {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: url(../images/back2.png) no-repeat center;
  background-size: contain;
  z-index: 999;
}

.container.product-detail .details {
  background: #fff;
  margin-top: 10px;
  font-size: 0.6076rem;
}

.container.product-detail .details .title {
  border-bottom: 1px solid rgb(237, 238, 240);
  padding: 13px 10px;
}

.container.product-detail .details .detail {
  min-height: 200px;
}

.container.product-detail .options-modal {
  position: absolute;
  background: rgba(190, 191, 192, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 998;
  display: none;
}

.container.product-detail .options-detail {
  max-height: 480px;
  position: fixed;
  background: #fff;
  width: 100%;
  bottom: 0;
  z-index: 999;
  display: none;
}

.container.product-detail .options-detail .detail-infor {
  border-bottom: 1px solid rgb(237, 238, 240);
  position: relative;
  height: 60px;
  padding-left: 10px;
}

.container.product-detail .options-detail .detail-infor .img {
  height: 60px;
  margin-top: -16px;
  display: inline-block;
  position: absolute;
}

.container.product-detail .options-detail .detail-infor .img img {
  height: inherit;
}

.container.product-detail .options-detail .p-infor {
  display: inline-block;
  padding-top: 10px;
  padding-left: 75px;
  line-height: 18px;
}

.infor-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  width: 60%;
  margin-bottom: 5px;
}

/* .container.product-detail .options-detail .p-infor .infor-price {
    color: #f59a41;
  } */

.container.product-detail .options-detail .p-infor .balance {
  margin-left: 40px;
  font-size: 11px;
  color: rgb(196, 198, 201);
}

.container.product-detail .options-detail .detail-infor .close {
  position: absolute;
  background: url(../images/close.png) no-repeat center;
  background-size: 23px;
  right: 0;
  top: 0;
  height: 23px;
  width: 23px;
  margin-top: -24px;
  margin-right: 3px;
  display: none;
}

.container.product-detail .options-detail .op-infor {
  max-height: 293px;
  overflow-y: auto;
  overflow-x: hidden;
}

.container.product-detail .options-detail .op-infor .op-item {
  width: 100%;
  border-bottom: 1px solid rgb(237, 238, 240);
  padding: 10px;
}

.container.product-detail .options-detail .op-infor .op-item .title {
  color: gray;
  /* padding-bottom: 10px; */
  font-size: 0.6076rem;
}

.container.product-detail .options-detail .op-infor span {
  border: 1px solid rgb(189, 189, 189);
  height: 25px;
  border-radius: 4px;
  display: inline-table;
  padding: 0 5px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  color: grey;
  font-size: 0.58rem;
}

.container.product-detail .productTitle {
  font-size: 0.651rem;
  color: #000000;
  text-indent: 26px;
  line-height: 1.5;
}

.container.product-detail .productPrice {
  font-size: 0.868rem;
  color: #FF533C;
  margin-right: 10px;
}

.container.product-detail .options-detail .op-infor span.active {
  border: 1px solid #044799;
  color: #044799;
}

.container.product-detail .options-detail .numbers {
  height: 50px;
  padding: 10px;
  font-size: 0.6076rem;
}

.container.product-detail .options-detail .numbers .title {
  color: gray;
  padding-bottom: 10px;
}

.container.product-detail .options-detail .numbers .minus,
.container.product-detail .options-detail .numbers .add,
.confirm_order .order-detail .add,
.confirm_order .order-detail .minus {
  height: 26px;
  width: 26px;
  border: 1px solid rgb(212, 210, 210);
  outline: none;
}

.container.product-detail .options-detail .numbers .minus,
.confirm_order .order-detail .minus {
  background: rgb(212, 210, 210) url(../images/minus.png) no-repeat center;
  background-size: 14px;
}

.container.product-detail .options-detail .numbers .add,
.confirm_order .order-detail .add {
  background: rgb(212, 210, 210) url(../images/add.png) no-repeat center;
  background-size: 14px;
  margin-left: -4px;
}

.container.product-detail .options-detail .numbers .nums,
.confirm_order .order-detail .nums {
  height: 24px;
  width: 70px;
  text-align: center;
  outline: none;
  margin-left: -4px;
  border: 1px solid rgb(212, 210, 210);
}

.product-detail-bottom {
  position: fixed;
  left: 0px;
  bottom: -1px;
  width: 100%;
}

.container.product-detail .options-detail .action,
.product-detail-bottom {
  height: 45px;
  box-sizing: border-box;
  display: flex;
}

.container.product-detail .options-detail .action input,
.product-detail-bottom input {
  border: 0;
  height: 45px;
  color: #fff;
  width: 100%;
}

.container.product-detail .options-detail .action .taobao,
.product-detail-bottom .taobao {
  background: #f59a41;
}

.container.product-detail .options-detail .action .buy,
.product-detail-bottom .buy {
  background: #044799;
}

/* 确认订单 */
.confirm_order .address-infor .addressName,
.shop_orderdetail .address-infor .addressName {
  margin-right: 10px;
  font-size: 0.6944rem;
}

.confirm_order .address-infor .phoneNumber,
.shop_orderdetail .address-infor .phoneNumber {
  font-size: 0.6076rem;
}

.confirm_order .address-infor .detailAddress,
.shop_orderdetail .address-infor .detailAddress {
  font-size: 0.6076rem;
}

.confirm_order .address-infor .address .address-name,
.shop_orderdetail .address-infor .address .address-name {
  line-height: 1;
}

.confirm_order .product-infor .selectedPrice {
  font-size: 0.6944rem;
}

.confirm_order .confirm_order_progress {
  font-size: 0.6076rem;
  padding: 0px 10px;
}

.confirm_order .progress {
  position: relative;
  width: 100%;
  margin: 10px 0px;
  padding-bottom: 25px;
}

.confirm_order .progress_bg {
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.confirm_order .progress_bar {
  background: #FF5500;
  width: 0;
  height: 10px;
  border-radius: 5px;
}

.confirm_order .progress_btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background: #FF5500;
  left: 0px;
  margin-left: 0px;
  top: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.confirm_order .progress_btn:hover {
  border-color: #F7B824;
}

.container.product-list {
  padding-top: 0;
}

.container.order-detail .address-infor,
.shop_orderdetail .address-infor {
  background: #fff;
  display: flex;
}

.container.order-detail .address-infor .icon,
.shop_orderdetail .address-infor .icon {
  height: 3.038rem;
  width: 3.038rem;
  display: inline-block;
  text-align: center;
  line-height: 3.038rem;
  vertical-align: top;
  color: #fff;
}

.container.order-detail .address-infor .icon i,
.shop_orderdetail .address-infor .icon i {
  padding: 4px;
  font-size: 23px;
  border-radius: 50%;
}

.container.order-detail .address-infor .rigth_btn,
.shop_orderdetail .address-infor .rigth_btn {
  height: 3.038rem;
  line-height: 3.038rem;
  position: absolute;
  right: 20px;
}

.address-infor .addressName {
  margin-right: 10px;
}

.container.order-detail .address-infor .address,
.shop_orderdetail .address-infor .address {
  display: inline-block;
}

.container.order-detail .address-infor .address .address-name {
  padding-top: 7px;
}

.shop_orderdetail .address-infor .address .address-name {
  padding-top: 11px;
}

.container.order-detail .product-infor,
.shop_orderdetail .product-infor {
  /* height: 120px; */
  width: 100%;
  background: #fff;
  margin-top: 10px;
  position: relative;
  padding: 15px 10px;
  display: flex;
}

.container.order-detail .product-infor .image {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.container.order-detail .product-infor .image>img {
  width: 3.906rem;
  height: 3.906rem;
  /* margin-top: 18px; */
}

.container.order-detail .product-infor .information {
  width: calc(100% - 108px);
  font-size: 0.6076rem;
  display: inline-block;
}

.container.order-detail .options,
.shop_orderdetail .options {
  width: 100%;
  height: 40px;
  background: #fff;
  line-height: 42px;
  padding: 0 10px;
  font-size: 0.6076rem;
  display: inline-block;
}

.shop_orderdetail .options {
  height: 35px;
  line-height: 35px;
  padding: 0px;
}

.container.order-detail {
  padding-top: 2.35rem;
  margin: 10px;
}

.confirm_order .head {
  background-color: #f5f5f5
}

.container.order-detail .product-infor .information .price-infor .price {
  float: left;
  font-size: 0.55rem;
}

.container.order-detail .product-infor .information .price-infor .size {
  float: right;
  margin-right: 10px;
}

.container.order-detail .product-infor .information .price-infor .size .x-icon {
  background: url(../images/x.png) no-repeat center;
  background-size: 9px;
  display: inline-block;
  height: 17px;
  width: 9px;
  line-height: 18px;
  margin-right: 3px;
}

.container.order-detail .balance {
  height: 40px;
  width: 100%;
  background: #fff;
  margin-top: 20px;
  line-height: 40px;
  font-size: 0.6076rem;
}

.container.order-detail .balance p {
  margin-right: 10px;
  float: right;
}

.container.order-detail .submit-btn,
.container.address-list .submit-btn,
.container.new-address .submit-btn {
  position: fixed;
  bottom: 0px;
  left: 0%;
  text-align: center
}

.container.order-detail .submit,
.container.address-list .submit,
.container.new-address .submit {
  width: 90%;
  height: 50px;
  border: 0;
  background: #3D4751;
  color: #fff;
  outline: none;
  background-color: white;
  margin: 10px 0px;
  border-radius: 40px;
}

/* 地址选择 */
.container.address-list {
  padding-bottom: 0;
  padding-top: 2.35rem;
}

.container.address-list .address-item {
  background: #fff;
  padding: 10px;
}

.container.address-list .address-item>p {
  padding-bottom: 10px;
}

.container.address-list .address-item span.title {
  color: gray;
  padding-right: 10px;
}

.container.address-list .address-item span.title.phone {
  padding-left: 10px;
}

.container.address-list .address-item .edit-action {
  border-top: 1px solid rgb(212, 210, 210);
  padding: 15px 0 5px 0;
  height: 25px;
}

.container.address-list .address-item .edit-action .default {
  color: gray;
  line-height: 25px;
}

.container.address-list .address-item .edit-action .set-default {
  color: rgb(8, 190, 214);
  line-height: 25px;
}

.container.address-list .address-item .edit-action .upp-action {
  float: right;
}


.container.address-list .address-item .edit-action .upp-action .del-address,
.container.address-list .address-item .edit-action .upp-action .upp-address {
  padding: 5px 7px;
  border: none;
  border-radius: 3px;
}

.container.address-list .address-item .edit-action .upp-action .del-address {
  background: rgb(245, 246, 247);
  color: #3D4751;
}

.container.address-list .address-item .edit-action .upp-action .upp-address {
  background: #3D4751;
  color: #fff;
}

.container.address-list .name1 {
  font-size: 0.6944rem;
}

.container.address-list .phone {
  font-size: 0.6076rem;
}

.container.address-list .address_detail {
  font-size: 0.6076rem;
}

/* 添加地址 */
.hintPage_container {
  background-color: rgba(40, 40, 40, .75);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000
}

.hintPage_content {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  transform: translate(-50%, -70%);
  text-align: center;
}

.hintPage_text {
  padding: 0px;
  line-height: 25px;
  margin: 10px;
  font-size: 14px;
  color: #FFFFFF;
  font-size: 0.55rem;
}

.hintPage_content img {
  width: 35%;
}

.transparent {
  background-color: transparent
}

.container.new-address {
  width: 100%;
  background-color: #fff;
  padding-top: 2.35rem;
}

.new-address label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 0.6944rem;
}

.new-address .form-check-label {
  font-size: 0.55rem;
}

.new-address .new-address-form {
  margin-bottom: 60px;
  padding: 15px;
}

.new-address .form-control {
  display: block;
  width: 100%;

  padding: 6px 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.new-address .form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}

.new-address .form-check-label {
  margin-bottom: 0;
}

.new-address input[type=checkbox],
.new-address input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.new-address .form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

.new-address .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.new-address .form-group .select {
  width: 100%;
  height: 38px;
}

.address-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-item-left {
  width: 80%
}

.address-item-left .name {
  font-size: 16px;
  margin-bottom: 5px;
}

.address-item-left .address {
  line-height: 1.8;
}

.address-item-left .address .choice {
  padding: 2px 5px;
  background-color: #f40;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.address-item-right .upp-action {
  font-size: 16px;
  border-left: 1px solid #e3e3e3;
  padding: 10px;
}

/* 订单详情 */
.shop_orderdetail .menu-fixed {
  min-height: 6.51rem;
  background: url(../images/order-bg.png) no-repeat 0px 0px;
  background-size: contain;
  position: initial;
}

.shop_orderdetail .menu-fixed .eadit {
  width: 26%;
  top: 25%;
  right: 7%;
}

.shop_orderdetail .menu-fixed .orders {
  top: 43%;
  left: 7%;
}

.shop_orderdetail .menu-fixed .orders .name {
  font-size: 0.7378rem;
  margin-bottom: 5px;
}

.shop_orderdetail .menu-fixed .orders .number {
  font-size: 0.55rem;
}

.shop_orderdetail .am-tabs2 {
  padding-top: 0px;
  margin: 10px 0px 0px 0px;
}

.shop_orderdetail .mo_list .box {
  border-radius: 0px;
}

.shuxian {
  font-size: 16px;
  margin-right: 5px;
}

/* 我的 */
.my {
  padding-top: 2.35rem;
  margin-top: 0px;
}

.my .weui_cell_hd i {
  font-size: 1rem
}

.my .weui_cell_hd .icon-tiezi {
  color: #fc6240
}

.my .weui_cell_hd i {
  font-size: 1rem
}